/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

/*    */
/*.label,.ip,button{
  display: block;
}*/


label,input{
  display:block;
  margin-bottom: 20px;
  margin-top: 20px;
  
}

input{
  border:1px solid ghostwhite;
}

.ip{
  width:300px;
  height:26px;
} 

button,input{
  
  width:310px;
  border-radius: 1ex;
  
}

.right-portion{
  margin-left: 700px;
}

input:hover{
  border-color:gainsboro;
}

input:focus{
  border-color:lightblue;
  
}

.lt{
  display: inline;
}

.lt1{
  margin-right: 120px;
  display: inline-block;
  padding-left: 700px;
}

.lt2{
  display: inline-block;
  
}

/* CSS for CREATE ACCOUNT  */

/*
h3,a{
  display: inline;
}

h3{
  margin-right: 80px;
}
*/


.div1 {
  display: flex;
  align-items: center;
  padding-left: 80px;
}

.div2 {
  display: flex;
  align-items: center;
  padding-left: 80px;
}

.div1 label,
.div2 label {
  margin-right: 40px;
}

.div1 input,
.div2 input {
  flex: 1;
  width: 250px;
  height: 30px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-container button {
  width: 150px;
  border-radius: 1ex;
}

.cn{
  position:absolute;
  left:80px;
  top:280px;
  width:200px;
 /* outline:none;*/
  border:none;
  color:salmon;
  background-color:snow;
  border:1px solid #ccc;
}

.cn:hover{
  color:burlywood;
   
}

.sg{
  position:absolute;
  left:80px;
  top:340px;
  width:200px;
  outline:none;
  border:none;
  color:cadetblue;
  border:1px solid #ccc;
  background-color: antiquewhite;
}

.sg:hover{
   color:rosybrown;
}

.sg img{
  background-color: #ccc;
}

.heading{
  position:absolute;
  left:80px;
  top:18px;
}


.googlelogo1{
  position:absolute;
  top:0 px;
  left:0px;
  height:25.65px;
  text-align:center;
}




.caform{
  padding-top: 50px;
}

input:focus{
  outline: none;
  border-color: lightblue;
}








