
body{
  margin:0;
}

.movies{
  background-color: #373b69;
  margin: 1rem;
  width:250px;
  border-radius: 3px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position:relative;
}


.movies img{
  max-width:100%;
  height:400px;
  object-fit: cover;
}

.movie-container{
  display:flex;
  flex-wrap: wrap;
  background-color: #22254b;
}

.movie-info{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:1.5em;
}

.movie-info h3{
  margin:0;
}

.movie-over{
  background-color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  color:#22254b;
  padding: 1rem;
  overflow: auto;
  max-height: 100%;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
}

.movies:hover .movie-over{
  transform: translateY(0%);
}

header{
  background-color: #373b69;
  padding: 1rem;
  display:flex;
  flex-direction: row;
  
}



.search{
  font-family: inherit;
  border:2px solid #22254b;
  border-radius: 50px;
  color:white;
  background-color: transparent;
  font-size: 1.2 rem;
  padding:0.5rem 1.5rem;
}

.search:focus{
  outline:none;
}

.tag{
  background-color: #22254b;
  border-radius: 5px;
  padding:1rem;
  font-weight: bold;
}

.tag.green{
  color:green;
}

.tag.orange{
  color:orange;
}

.tag.red{
  color:red;
}

@media (max-width: 767px) {
  .search{
    width:150px;
  }
  .logout-btn{
    padding-top:10px;
  }
}
